/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #024161;
  --link: #fff;
  --link--hover: #1f52a4;
  --bg-footer-color: #024161;
}

body {
  font-family: roboto;
  background-color: #0b192f;
  margin: 5px 10px;
}
.post-1 {
	background: #9d27b0;
}
.post-2 {
	background: #9bb800;
}
.post-3 {
	background: #ed5120;
}
.post-4 {
	background: #9d27b0;
}
.post-5 {
	background: #2d95bb;
}

.color-purple {
  color: #9d27b0;
}

.header {
  height: 225px;
  background-color: #024161;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-mobile-text {
  font-size: 38px;
  margin-top: 56px;
  color: #fff;
  font-weight: 100;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 25px;
  left: calc(50% - 10px);
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.nav {
  display: none;
}





.footer {
  background-color: #024161;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.footer span {
  opacity: 0.7;
}

@media (min-width: 480px) {}
@media (min-width: 768px) {}
@media (min-width: 1400px) {}