body {
  margin: 0;
  background: white; }

.landing-logo {
  display: inline-flex; }
  .landing-logo img {
    height: 45px;
    width: 45px; }
  .landing-logo p {
    display: grid;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.7px;
    line-height: 25px;
    margin: 0; }
    .landing-logo p span {
      font-size: 10px;
      letter-spacing: 0.2px;
      line-height: 10px;
      text-align: center; }

.header {
  color: #2c2f3c;
  background: url(../img/m-h-day.jpg) no-repeat center;
  background-size: 100%;
  border-bottom-right-radius: 40%;
  height: 674px;
  padding: 20px 190px; }
  .header-wrap {
    width: 650px; }
    .header-wrap div:not(.landing-logo) {
      margin-top: 61px; }
      .header-wrap div:not(.landing-logo) .login {
        color: white;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 20px;
        margin-left: 147px; }
  .header_heading {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 68px;
    font-weight: bold;
    letter-spacing: 1.8px;
    line-height: 72px;
    margin-bottom: 38px;
    margin-top: 66px;
    position: relative;
    z-index: 10; }
    .header_heading:before {
      background-color: #14a0c7;
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 0;
      height: 50px;
      left: 1px;
      width: 300px; }
  .header_text {
    font-family: "Hind", sans-serif;
    font-size: 16px;
    line-height: 23px;
    white-space: pre-line;
    word-spacing: 0.9px; }
  .header_button {
    background: #699a00;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: "Fresca", sans-serif;
    font-size: 18px;
    height: 48px;
    letter-spacing: 0.4px;
    width: 142px; }
  .header .landing-logo img {
    margin-right: 14px; }

.section {
  margin: 0 398px; }
  .section_text {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 41px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 43px;
    position: relative;
    text-align: center;
    z-index: 10; }
    .section_text:before {
      background-color: #14a0c7;
      content: '';
      position: absolute;
      z-index: -1;
      bottom: 4px;
      height: 49px;
      right: 358px;
      width: 189px; }
  .section_link {
    line-height: 32px;
    color: white;
    font-family: "Fresca", sans-serif;
    letter-spacing: 0.4px;
    opacity: 0.7;
    text-align: center; }
  .section_card {
    background-color: #21232e;
    border-radius: 6px;
    color: white;
    display: inline-flex;
    margin-bottom: 23px;
    padding: 20px; }
    .section_card_img {
      border-radius: 6px;
      min-width: 427px; }
    .section_card_right_container {
      display: inline-flex;
      flex-direction: column; }
    .section_card_heading {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 25px;
      font-weight: 600;
      letter-spacing: -0.4px;
      line-height: 26px;
      margin-top: 50px;
      text-align: center; }
    .section_card_text {
      font-family: "Hind", sans-serif;
      font-size: 16px;
      line-height: 24px;
      opacity: 0.7;
      text-align: justify; }
  .section_card:nth-child(1) .section_card_img {
    min-width: 427px; }
  .section_card:nth-child(1) .section_card_heading {
    line-height: 26px; }
  .section_card:nth-child(1) .section_card_text {
    padding: 0 88px; }
  .section_card:nth-child(1) .section_link {
    line-height: 32px; }
  .section_card:nth-child(2) .section_card_img {
    min-width: 413px; }
  .section_card:nth-child(2) .section_card_heading {
    line-height: 18px; }
  .section_card:nth-child(2) .section_card_text {
    padding: 0 88px; }
  .section_card:nth-child(2) .section_link {
    line-height: 32px; }
  .section_card:nth-child(3) .section_card_img {
    min-width: 455px; }
  .section_card:nth-child(3) .section_card_heading {
    line-height: 48px;
    margin-bottom: 38px; }
  .section_card:nth-child(3) .section_card_text {
    padding: 0 84px; }
  .section_card:nth-child(3) .section_link {
    line-height: 32px;
    margin-top: 12px; }
  .section_banner {
    align-items: center;
    background: linear-gradient(45deg, #699a00, #2b59dd);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin-left: -41px;
    margin-right: -41px;
    margin-top: 115px;
    padding: 0 160px; }
    .section_banner_heading {
      font-family: "Hind", sans-serif;
      font-size: 30px;
      font-weight: 600;
      letter-spacing: -0.1px;
      line-height: 32px;
      margin-bottom: 16px;
      position: relative;
      z-index: 10; }
      .section_banner_heading:before {
        background-color: #14a0c7;
        content: '';
        position: absolute;
        z-index: -1;
        bottom: 0;
        height: 50px;
        left: 120px;
        width: 64px; }
    .section_banner_text {
      color: white;
      font-family: "Hind", sans-serif;
      margin-bottom: 40px;
      opacity: 0.7; }
    .section_banner_button {
      background: #699a00;
      border: none;
      border-radius: 2px;
      color: white;
      font-family: "Fresca", sans-serif;
      font-size: 18px;
      height: 48px;
      letter-spacing: 0.4px;
      width: 142px; }

.footer {
  background-color: #21232e;
  color: white;
  margin-top: -74px;
  padding-left: 192px;
  padding-right: 192px;
  padding-top: 37px;
  position: relative;
  z-index: -1; }
  .footer-wrap {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 243px;
    justify-content: space-between; }
    .footer-wrap .landing-logo img {
      margin-right: 12px; }
  .footer_text {
    font-family: "Hind", sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-top: 14px;
    width: 310px; }
  .footer-cr {
    font-family: "Hind", sans-serif;
    letter-spacing: -0.1px; }
