@function fontFamily ($foo) {
  $font-family: ("source": "Source Sans Pro", "hind": "Hind", "fresca": "Fresca");
  $result: "Source Sans Pro";
  @if ($foo) {
    $result: map_get($font-family, $foo)
  }
  @return $result, sans-serif
}

body {
  margin: 0;
}
.landing-logo {
  display: inline-flex;
  img {
    height: 45px;
    width: 45px;
  }
  p {
    display: grid;
    font-family: fontFamily('source');
    font-size: 24px;
    letter-spacing: 0.7px;
    line-height: 25px;
    margin: 0;
    span {
      font-size: 10px;
      letter-spacing: 0.2px;
      line-height: 10px;
      text-align: center;
    }
  }
}
.header {
  background: $header-background-url no-repeat center;
  background-size: 100%;
  border-bottom-right-radius: 40%;
  height: 674px;
  padding: 20px 190px;
  &-wrap {
    width: 650px;
    div:not(.landing-logo) {
      margin-top: 61px;
      .login {
        color: white;
        font-family: fontFamily('source');
        font-size: 20px;
        margin-left: 147px;
      }
    }
  }
  &_heading {
    color: #2c2f3c;
    font-family: fontFamily('source');
    font-size: 68px;
    font-weight: bold;
    letter-spacing: 1.8px;
    line-height: 72px;
    margin-bottom: 38px;
    margin-top: 66px;
    position: relative;
    z-index: 10;
    &:before {
      background-color: #14a0c7;
      bottom: 0;
      content: '';
      height: 50px;
      left: 1px;
      position: absolute;
      width: 300px;
      z-index: -1;
    }
  }
  &_text {
    font-family: fontFamily('hind');
    font-size: 16px;
    line-height: 23px;
    white-space: pre-line;
    word-spacing: 0.9px;
  }
  &_button {
    background: #699a00;
    border: none;
    border-radius: 2px;
    color: white;
    font-family: fontFamily('fresca');
    font-size: 18px;
    height: 48px;
    letter-spacing: 0.4px;
    width: 142px;
  }
  .landing-logo {
    img {
      margin-right: 14px;
    }
  }
}
.section {
  margin: 0 398px;
  &_text {
    font-family: fontFamily('source');
    font-size: 41px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 43px;
    position: relative;
    text-align: center;
    z-index: 10;
    &:before {
      background-color: #14a0c7;
      bottom: 4px;
      content: '';
      height: 49px;
      position: absolute;
      right: 358px;
      width: 189px;
      z-index: -1;
    }
  }
  &_link {
    color: white;
    font-family: fontFamily('fresca');
    letter-spacing: 0.4px;
    line-height: 32px;
    opacity: 0.7;
    text-align: center;
  }
  &_card {
    background-color: #21232e;
    border-radius: 6px;
    color: white;
    display: inline-flex;
    margin-bottom: 23px;
    padding: 20px;
    &_img {
      border-radius: 6px;
      min-width: 427px;
    }
    &_right_container {
      display: inline-flex;
      flex-direction: column;
    }
    &_heading {
      font-family: fontFamily('source');
      font-size: 25px;
      font-weight: 600;
      letter-spacing: -0.4px;
      line-height: 26px;
      margin-top: 50px;
      text-align: center;
    }
    &_text {
      font-family: fontFamily('hind');
      font-size: 16px;
      line-height: 24px;
      opacity: 0.7;
      padding: 0 88px;
      text-align: justify;
    }
  }
  &_card {
    &:nth-child(1) {
      .section_card_img {
        min-width: 427px;
      }
      .section_card_right_container {
        .section_card_heading {
          line-height: 26px;
        }
        .section_card_text {
          padding: 0 88px;
        }
        .section_link {
          line-height: 32px;
        }
      }
    }
    &:nth-child(2) {
      .section_card_img {
        min-width: 413px;
      }
      .section_card_right_container {
        .section_card_heading {
          line-height: 18px;
        }
        .section_link {
          line-height: 26px;
        }
      }
    }
    &:nth-child(3) {
      .section_card_img {
        min-width: 455px;
      }
      .section_card_right_container {
        .section_card_heading {
          line-height: 48px;
          margin-bottom: 38px;
        }
        .section_card_text {
          padding: 0 84px;
        }
        .section_link {
          line-height: 26px;
          margin-top: 12px;
        }
      }
    }
  }
  &_banner {
    align-items: center;
    background: linear-gradient(45deg, #699a00, #2b59dd);
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin-left: -41px;
    margin-right: -41px;
    margin-top: 115px;
    padding: 0 160px;
    &_heading {
      font-family: fontFamily('hind');
      font-size: 30px;
      font-weight: 600;
      letter-spacing: -0.1px;
      line-height: 32px;
      margin-bottom: 16px;
      position: relative;
      z-index: 10;
      &:before {
        background-color: #14a0c7;
        bottom: 0;
        content: '';
        height: 50px;
        left: 120px;
        position: absolute;
        width: 64px;
        z-index: -1;
      }
    }
    &_text {
      color: white;
      font-family: fontFamily('hind');
      margin-bottom: 40px;
      opacity: 0.7;
    }
    &_button {
      background: #699a00;
      border: none;
      border-radius: 2px;
      color: white;
      font-family: fontFamily('fresca');
      font-size: 18px;
      height: 48px;
      letter-spacing: 0.4px;
      width: 142px;
    }
  }
}
.footer {
  background-color: #21232e;
  color: white;
  margin-top: -74px;
  padding-left: 192px;
  padding-right: 192px;
  padding-top: 37px;
  position: relative;
  z-index: -1;
  &-wrap {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 243px;
    justify-content: space-between;
    .landing-logo {
      img {
        margin-right: 12px;
      }
    }
  }
  &_text {
    font-family: fontFamily('hind');
    font-size: 14px;
    line-height: 20px;
    margin-top: 14px;
    width: 310px;
  }
  &-cr {
    font-family: fontFamily('hind');
    letter-spacing: -0.1px;
  }
}