@function fontFamily ($foo, $font-family: $font-family, $result: $result) {
  @if ($foo) {
    $result: map_get($font-family, $foo)
  }
  @return $result, sans-serif
}

@mixin button {
  background: $button-background-color;
  border: none;
  border-radius: 2px;
  color: white;
  font-family: fontFamily('fresca');
  font-size: 18px;
  height: 48px;
  letter-spacing: 0.4px;
  width: 142px;
}

@mixin link-line-height ($number: "first") {
  line-height: map_get($link-line-height, $number);
}

@mixin link-margin {
  margin-top: 12px;
}

@mixin link ($number: "first") {
  @include link-line-height($number);
  color: white;
  font-family: fontFamily('fresca');
  letter-spacing: 0.4px;
  opacity: 0.7;
  text-align: center;
}

@mixin section-card ($number) {
  .section_card_img {
    min-width: map_get($card-image-min-width, $number);
  }
  .section_card_heading {
    line-height: map_get($card-heading-line-height, $number);
    @if $number == third {
      margin-bottom: 38px;
    }
  }
  .section_card_text {
    padding: 0 map_get($card-text-padding-x, $number);
  }
  .section_link {
    @include link-line-height;
    @if $number == third {
      margin-top: 12px;
    }
  }
}

@mixin common-before {
  background-color: $heading-before-background-color;
  content: '';
  position: absolute;
  z-index: -1;
}

body {
  margin: 0;
  background: $body-background-color;
}
.landing-logo {
  display: inline-flex;
  img {
    height: 45px;
    width: 45px;
  }
  p {
    display: grid;
    font-family: fontFamily('source');
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.7px;
    line-height: 25px;
    margin: 0;
    span {
      font-size: 10px;
      letter-spacing: 0.2px;
      line-height: 10px;
      text-align: center;
    }
  }
}
.header {
  color: $header-font-color;
  background: $header-background-url no-repeat center;
  background-size: 100%;
  border-bottom-right-radius: 40%;
  height: 674px;
  padding: 20px 190px;
  &-wrap {
    width: 650px;
    div:not(.landing-logo) {
      margin-top: 61px;
      .login {
        color: white;
        font-family: fontFamily('source');
        font-size: 20px;
        margin-left: 147px;
      }
    }
  }
  &_heading {
    font-family: fontFamily('source');
    font-size: 68px;
    font-weight: bold;
    letter-spacing: 1.8px;
    line-height: 72px;
    margin-bottom: 38px;
    margin-top: 66px;
    position: relative;
    z-index: 10;
    &:before {
      @include common-before;
      bottom: 0;
      height: 50px;
      left: 1px;
      width: 300px;
    }
  }
  &_text {
    font-family: fontFamily('hind');
    font-size: 16px;
    line-height: 23px;
    white-space: pre-line;
    word-spacing: 0.9px;
  }
  &_button {
    @include button;
  }
  .landing-logo {
    img {
      margin-right: 14px;
    }
  }
}
.section {
  margin: 0 398px;
  &_text {
    font-family: fontFamily('source');
    font-size: 41px;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 43px;
    position: relative;
    text-align: center;
    z-index: 10;
    &:before {
      @include common-before;
      bottom: 4px;
      height: 49px;
      right: 358px;
      width: 189px;
    }
  }
  &_link {
    @include link;
  }
  &_card {
    background-color: $card-footer-background-color;
    border-radius: 6px;
    color: white;
    display: inline-flex;
    margin-bottom: 23px;
    padding: 20px;
    &_img {
      border-radius: 6px;
      min-width: 427px;
    }
    &_right_container {
      display: inline-flex;
      flex-direction: column;
    }
    &_heading {
      font-family: fontFamily('source');
      font-size: 25px;
      font-weight: 600;
      letter-spacing: -0.4px;
      line-height: 26px;
      margin-top: 50px;
      text-align: center;
    }
    &_text {
      font-family: fontFamily('hind');
      font-size: 16px;
      line-height: 24px;
      opacity: 0.7;
      text-align: justify;
    }
  }
  &_card {
    &:nth-child(1) {
      @include section-card("first");
    }
    &:nth-child(2) {
      @include section-card("second");
    }
    &:nth-child(3) {
      @include section-card("third");
    }
  }
  &_banner {
    align-items: center;
    background: $banner-gradient;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin-left: -41px;
    margin-right: -41px;
    margin-top: 115px;
    padding: 0 160px;
    &_heading {
      font-family: fontFamily('hind');
      font-size: 30px;
      font-weight: 600;
      letter-spacing: -0.1px;
      line-height: 32px;
      margin-bottom: 16px;
      position: relative;
      z-index: 10;
      &:before {
        @include common-before;
        bottom: 0;
        height: 50px;
        left: 120px;
        width: 64px;
      }
    }
    &_text {
      color: white;
      font-family: fontFamily('hind');
      margin-bottom: 40px;
      opacity: 0.7;
    }
    &_button {
      @include button;
    }
  }
}
.footer {
  background-color: $card-footer-background-color;
  color: white;
  margin-top: -74px;
  padding-left: 192px;
  padding-right: 192px;
  padding-top: 37px;
  position: relative;
  z-index: -1;
  &-wrap {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 243px;
    justify-content: space-between;
    .landing-logo {
      img {
        margin-right: 12px;
      }
    }
  }
  &_text {
    font-family: fontFamily('hind');
    font-size: 14px;
    line-height: 20px;
    margin-top: 14px;
    width: 310px;
  }
  &-cr {
    font-family: fontFamily('hind');
    letter-spacing: -0.1px;
  }
}