$header-background-url: url(../img/m-h-night.jpg);
$button-background-color: #e3ac00;
$link-line-height: ("first": 32px, "second": 26px, "third": 26px);
$card-image-min-width: ("first": 427px, "second": 413px, "third": 455px);
$card-heading-line-height: ("first": 26px, "second": 18px, "third": 48px);
$card-text-padding-x: ("first": 88px, "second": 88px, "third": 84px);
$font-family: ("source": "Source Sans Pro", "hind": "Hind", "fresca": "Fresca");
$result: "Source Sans Pro";
$heading-before-background-color: #ff4e33;
$banner-gradient: linear-gradient(45deg, $button-background-color, #953050);
$header-font-color: white;
$card-footer-background-color: #3b3f50;
$body-background-color: #21232e;