:root {
  --black-color: #000;
  --gray-color: #777;
  --white-color: #FFFFFF;
  --yellow-color: #bfba55;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

.header {
  align-items: center;
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../img/home-bg.jpg');
  background-position: 0 102px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-top: 102px;
  text-align: center;
  width: 100%;
}

.header-title {
  font-size: 80px;
  margin: 0;
}
.header-sub-title {
  color: var(--yellow-color);
  margin-top: 20px;
}

.button {
  background-color: var(--white-color);
  cursor: pointer;
  font-weight: 600;
  outline: none;
  text-decoration: unset;
  text-transform: uppercase;
}

.header-button {
  border: none;
  border-radius: 25px;
  color: var(--black-color);
  height: 50px;
  margin-top: 60px;
  width: 190px;
}

.navbar {
  align-items: center;
  background-color: var(--white-color);
  display: inline-flex;
  height: 102px;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.navbar-wrap {
  align-items: center;
  display: flex;
  height: 100%;
  max-width: 1300px;
  width: 100%;
}

.navbar-brand {
  color: var(--black-color);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 3.9px;
  margin-left: 15px;
  margin-right: auto;
  text-transform: uppercase;
}

.navbar-link {
  color: var(--gray-color);
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
}

.navbar-link:hover {
  color: var(--yellow-color);
}

.navbar-link:not(:last-of-type) {
  margin-right: 50px;
}
.navbar-link:last-of-type {
  margin-right: 36px;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.section-hr {
  border-color: var(--gray-color);
  max-width: 900px;
  opacity: 0.1;
  width: 100%;
}

.blog {
  box-sizing: border-box;
  color: var(--gray-color);
  font-size: 20px;
  max-width: 900px;
  padding-bottom: 74px;
  padding-top: 100px;
}

.blog-img {
  height: auto;
  width: 100%;
}

.blog-header h1 {
  color: var(--black-color);
  font-size: 36px;
  margin-bottom: 16px;
  margin-top: 40px;
}

.blog-button {
  border-color: var(--gray-color);
  border-radius: 30px;
  border-width: 1px;
  color: var(--gray-color);
  height: 60px;
  margin-top: 40px;
  width: 226px;
}

.blog-info {
  align-items: center;
  display: inline-flex;
  margin-bottom: 26px;
}

.blog-info img {
  border-radius: 50%;
  margin-right: 10px;
  width: 50px;
}

.blog-info span {
  margin-right: 20px;
}

.blog-description {
  line-height: 30px;
}

.footer {
  background-color: var(--black-color);
  display: inline-flex;
  height: 425px;
  /*padding: 0 20%;*/
  /*min-width: 900px;*/
  justify-content: center;
  width: 100%;
}

.footer-wrap {
  display: inline-flex;
  flex-direction: row;
  height: inherit;
  max-width: 900px;
}

.footer-info {
  display: inline-flex;
  flex-direction: column;
  height: inherit;
  justify-content: center;
  width: 50%;
}

.footer-info:last-of-type {
  padding-left: 10%;
}

.footer-info h1 {
  color: var(--white-color);
}

.footer-info span {
  color: var(--gray-color);
  font-size: 20px;
  line-height: 30px;
}