@media print {
  .tm-sidebar, .tm-team-img, #about, .carousel-indicators, section.tm-content-box:not(.heading), .blocks .tm-content-box {
    display: none;
  }
  #home, .tm-footer p, .blocks .tm-team-description-container .tm-section-description:last-child, .tm-content-box {
    margin-bottom: 0;
  }
  .tm-content-box .tm-team-description-container, .blocks .tm-team-description-container {
    max-width: unset;
    padding: 0 40px;
  }
  .tm-footer, .tm-section-description, .heading.tm-content-box .padding-medium ol {
    font-weight: 400;
  }
  .tm-content-box, .blocks .tm-team-description-container {
    text-align: center;
  }
  .blocks .tm-team-description-container, .tm-footer {
    background-color: white;
  }
  .tm-banner {
    padding: 30px 30px;
  }
  .tm-banner-inner {
    border-width: 2px;
  }
  .tm-banner-text, .tm-footer {
    color: lightgray;
  }
  .tm-banner-text {
    font-weight: bold;
  }
  .tm-main-content {
    padding-top: 0;
  }
  .tm-content-box {
    font-size: 15px;
  }
  section.tm-content-box h2 {
    color: lightskyblue;
    font-weight: 300;
  }
  .tm-section-title {
    text-transform: uppercase;
  }
  .tm-section-description {
    color: #666;
  }
  .heading.tm-content-box .padding-medium {
    padding: 16px 200px;
  }
  .heading.tm-content-box .padding-medium ol {
    list-style: none;
    padding-left: 0;
  }
  .heading.tm-content-box .padding-medium ol li:nth-child(odd) {
    text-align: right;
  }
  .heading.tm-content-box .padding-medium ol li:nth-child(even) {
    text-align: left;
  }
  .blocks .tm-team-description-container .tm-section-description:last-child {
    font-style: italic;
    letter-spacing: 7px;
  }
  #tmCarousel {
    padding: 25px 50px;
  }
}
@media screen {
  .tm-nav-item:hover .tm-nav-item-link, .box-work:nth-child(odd), input[name*="contact"]:focus {
    background: lightskyblue;
  }
  .tm-nav-item:hover .tm-nav-item-link, .box-work:nth-child(odd) {
    color: white;
  }
  .tm-banner {
    background: linear-gradient(90deg, lightskyblue, burlywood);
  }
  .tm-banner-inner, .submit-btn {
    background: white;
  }
  .tm-banner-text {
    text-shadow: 5px 5px 3px #333;
    animation: slidein 3s ease-out;
  }
  .flex-2-col {
    display: inline-flex;
  }
  .flex-2-col .tm-team-description-container.flex-item {
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2rem;
  }
  .flex-2-col .tm-team-description-container .tm-section-title, .heading.tm-content-box .padding-medium h2 {
    text-align: center;
  }
  .box-bg:hover {
    background: lightgrey;
  }
  .heading.tm-content-box .padding-medium h2, .submit-btn {
    color: lightskyblue;
  }
  .heading.tm-content-box .padding-medium ol {
    list-style: lower-alpha;
  }
  .heading.tm-content-box .padding-medium ol li a, section {
    position: relative;
  }
  .heading.tm-content-box .padding-medium ol li a:hover {
    padding-left: 8px;
  }
  .heading.tm-content-box .padding-medium ol li a:hover:before, .text:after, section:before, section:after {
    position: absolute;
  }
  .heading.tm-content-box .padding-medium ol li a:hover:before {
    content: '>';
    color: #666;
    left: -1px;
  }
  .text:after {
    content: 'New';
    top: -4px;
    color: red;
    font-size: small;
    font-weight: 600;
  }
  .box-work {
    padding: 10px;
  }
  .blocks .flex-item.tm-team-description-container p:last-of-type {
    letter-spacing: 5px;
    word-spacing: 10px;
  }
  .blocks .flex-item.tm-team-description-container p:last-of-type, .box-work p {
    font-style: italic;
  }
  .heading.tm-content-box .padding-medium ol li a:hover:before, .box-work p::first-letter {
    font-weight: bold;
  }
  p.tm-section-description {
    line-height: 30px;
    text-indent: 25px;
  }
  .contact-form {
    text-align: right;
  }
  input[name*="contact"] {
    border: none;
    border-bottom: 2px solid lightskyblue;
  }
  input[name*="contact"]:focus, section:before, section:after {
    border-color: transparent;
  }
  textarea[name*="contact"] {
    border: 2px solid lightskyblue;
    background: url(../img/email-icon.png) 99% 95% no-repeat;
    background-size: 30px;
  }
  .submit-btn {
    border-color: lightskyblue;
    border-width: 2px;
    padding: 12px 20px;
  }
  #home, .tm-sidebar, section {
    box-shadow: 0 0 10px 0 rgba(61, 55, 61, 0.7);
  }
  section:before, section:after {
    content: '';
    top: 0;
    left: 0;
    border-style: solid;
  }
  section:before {
    border-width: 1.5em;
    border-left-color: lightskyblue;
    border-top-color: lightskyblue;
  }
}
@keyframes slidein {
  from {
    margin-left: 200px;
  }
  to {
    margin-left: 0;
  }
}